.profile-container {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 550px;
}

.profile-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.profile-section {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    border-radius: 4px;
}

.profile-section a:visited {
    color: #212121;
}

.profile-section-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.profile-section-contents {}

.profile-content-definition {
    display: flex;
    justify-content: space-between;
}

.definition-word {
    color: #757575;
}

.definition-word-desc {
    display: none;
    margin: 0;
    color: #2196f3;
    font-size: 0.8rem;
}


nav {
    margin-top: 65px;
    height: 100vh;
    position: fixed;
    overflow-y: hidden;
    background-color: #fff;
}
nav:hover {
    overflow-y: scroll;
}
nav::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #f1f1f1;
}
nav::-webkit-scrollbar
{
    width: 8px;
    border-radius: 10px;
}
nav:hover::-webkit-scrollbar
{
}
nav::-webkit-scrollbar-thumb
{
    border-radius: 10px;
}
nav:hover::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
}

