.post-container {
    width: 100%;
    max-width: 720px;
}
.notice-box {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.notice {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
}
.post-box {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
}
#payment-container {
    display: none;
}
#map {
    width: 100%;
    height: 400px;
    margin-bottom: 2rem;
}

#intro {
    height: 100%;
    padding: 0.9rem;
    background-color: #eeeeee;
    border-radius: 4px;
    line-height: 1.5;
}
.desc-title {
    font-size: 0.9rem;
    color: #9e9e9e;
}
.place {
    margin-bottom: 0rem;
}
.info {
    font-size: 1.2rem;
}
.address #copy{
    font-size: 0.9rem;
}
#copy {
    color: #42a5f5;
    cursor: pointer;
}
select, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 0.5rem;
    width: 100%;
    max-width: 550px;
    height: 50px;
    font-size: 16px;
    color: #212121;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}
.applicants {
    border-collapse: collapse;
    margin-bottom: 16px;
    width: 100%;
}
th, td {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
}
td {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 80px;
}
.response-box {
    display: table-cell;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.response-box button {
    margin: 0 8px;
    padding: 0;
    border: none;
    background-color: inherit;
}
.allow {
    display: inline-block;
    color: #2196f3;
}
.reject {
    display: inline-block;
    color: #f44336;
}

.price-text {
    margin-top: 0px;
    font-size: 1rem;
}
.button-box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
}
.canceld-match {
    color: #bdbdbd;
    text-align: center;
}
input[type=submit] {
    width: 160px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
}
.button, .cancel-apply {
    margin-bottom: 8px;
    font-size: 1rem;
}

.button {
    width: 160px;
    outline: none;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border: none;
    background-color: #1e88e5;
    font-size: 16px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
}
.button:hover {
    background-color: #42a5f5;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24)
}

.cancel-apply {
    background-color: #9e9e9e;
}

.edit {
    background-color: #2196f3;
    width: 160px;
    border: none;
    height: 50px;
    margin-bottom: 0.5rem;
}
.edit>a {
    font-size: 1rem;
    color: #fff;
}
.edit>a:visited {
    font-size: 1rem;
    color: #fff;
}

input[type=submit].cancel-match, input[type=submit].remove-match {
    color: #9e9e9e;
    background-color: inherit;
}

@media screen and (max-width: 414px) {
    .button-box {
        z-index: 4;
        position: fixed;
        left: 0;
        bottom: 0;
        justify-content: center;
        width: 100%;
        padding: 20px 0;
        border-top: 1px solid #e1e1e1;
        background-color: #fafafa;
    }
}

.applicant-status-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    background-color: #fafafa;
}
.applicant-status-container.accepted {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: solid 1px #90caf9;
    border-radius: 4px;
    background-color: #fafafa;
}
.applicant-status-container.refund {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ef9a9a;
    border-radius: 4px;
    background-color: #fafafa;
}

.applicant-status-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.refund-contents-container, .applicant-contents-container {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #eeeeee;
}
.refund-contents, .applicant-contents {
    display: flex;
    justify-content: space-between
}

.refund-contents-label, .applicant-contents-label {
    color: #757575;
}