ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.select_date:hover {
    color: rgba(66,133,244,0.149)
}

.select_date > p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.match-list {
    margin-top: 1rem;    
}

.match {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    padding: 6px 0;
    background-color: #eeeeee;
    align-items: center;
    transition: box-shadow .2s;
}
.match:hover {
    -webkit-box-shadow: 0 10px 6px -6px rgba(33,33,33,.2);
    -moz-box-shadow: 0 10px 6px -6px rgba(33,33,33,.2);
    box-shadow: 0 10px 6px -6px rgba(33,33,33,.2);
}
.match_date {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #424242;
}
.match-time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
    padding: 0 6px;
    color: #424242;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
}
.match-place {
    display: flex;
    width: 40%;
    height: 80%;
    padding: 0 6px;
    justify-content: center;
    flex-direction: column;
    color: #212121;
}
.place {
    margin: 0;
    padding-bottom: 0.5rem;
    width: 100%;
    font-size: 1rem;
}
.match-type {
    margin: 0;
    width: 100%;
    font-size: 0.8rem;
    color: #757575;
}
.match-apply {
    display: flex;
    justify-content: center;
    width: 25%;
    align-items: center;
    padding: 0 6px;
}
.match-apply-button {
    z-index: 1;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: #2196f3;
    color: white;
    padding: 1px 40px;
}
.closed, .closed:hover {
    color: rgba(0,0,0,0.45);
    box-shadow: 0;
}
.apply, .price {
    margin: 0;
}
.apply {
    margin-top: 0.5rem;
    font-size: 1rem;
}
.price {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.match-apply-button:hover {
    background-color: #42a5f5;
}

@media screen and (max-width: 457px) {
    .match-apply-button {
        padding: 1px 20px;
    }
}
@media screen and (max-width: 375px) {
    .match-apply-button {
        padding: 1px 20px;
    }
}