.sign-container {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 550px;
}
.page-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    padding: 10px;
    border: 1px solid #e0e0e0;
    width: 100%;
    border-radius: 4px;
    height: 50px;
    font-size: 1rem;
    color: #212121;
}
.section {
    margin-bottom: 2rem;
}
.section-contents {
    margin-bottom: 2rem;
}
.contents-title {
    font-size: 1rem;
    color: #9e9e9e;
}
.contents-desc {
    font-size: 0.8rem;
    color: #757575;
}
.button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-box a {
    color: #212121;
}
input[type=submit] {
    width: 160px;
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
    outline: none;
}
input[type=submit]:hover {
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
}